@media screen and (max-width: 600px) {
	.search-list {
		height: 1500px;
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.weather-data {
		width: 15vh;
		height: 12vh;
		font-size: 10px;
		font-weight: normal;
		text-align: center;
	}
}

@media screen and (max-width: 600px) {
#weather-data li {
	    font-size: 10px;
	    font-weight: lighter !important; 
	    text-align: left;
	}
}
