 html,
 body, 
 #map {
        width: 100%;
        height: 100%;
        z-index: 1;
        position: absolute;
        margin: 0;
        font-family: 'Roboto',arial,sans-serif;
      }

a:visited {
    color: red;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}

hr.place-end {
	height: 1px;
	color: #292828e6;
}

.display-buttons {
	z-index: 4;
	position: absolute;
	margin-left: 5px;
	margin-top: 2px;
}

.search-area {
	position: absolute;
	width: 229px;
	padding: 3px 10px 0px 1px;
	margin-top: 0px;
	background-color: #e8cbb1e6;
	z-index: 3;
}

.input-box { 
	margin-bottom: 15px;
	margin-left: 3px;
	height: 25px;
	width: 230px;
}

.search-list { 
	padding: 45px 10px 30px 5px;
	position: absolute;
	z-index: 3;
}

#open-weather {
	z-index: 2;
	width: 100%;
	margin-left: 0;
	position: absolute;
}

.weather-data {
	font-size: 0.8em;
	color: #7D5F5E;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	vertical-align: top;
	font-family: 'Roboto',arial,sans-serif;
	font-weight: bold;
	background-color: #F5F5DC;
	z-index: 100;
}

.weather-data li {
    display: inline-block;
    margin: 0 5px;
    padding: 0;
    font-size: 0.99em;
    font-weight: lighter !important; 
    text-align: left;
    color: #7b7a7a;
}

#locations {
	max-height: 720px;
	max-width: 213px;
	padding: 1px 10px 20px 20px;
	overflow: scroll;
	background-color: #ece3dae6;
	margin-top: 100px;
}

#locations-list {
	padding: 3px 10px 0px 1px;
	cursor: pointer;
	list-style-type:none;
	height: 50%;
	line-height: 1.4;
	font-weight: normal;
	font-size: 0.95em;
}

.location-name {
	list-style-type: disc;
	background-color: #FFA07A;
}

#locations-list li:hover {
	background-color: #162f5de6;
	color: white;
}
